html{
    font-size: 62.5%;/*62.5% es de 16px (es el tamano normal, elmento base)*/
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
}

header{
    background-image: url(../imagenes/principal.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-color: black 10%;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background-color: rgba(0, 0, 0, .5) ;
    padding: -0.5rem 10%; 
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.contenedor{
    max-width: 140rem;
    margin: 0 auto;
}
.contenedor{
    color: green;
    font-size: 2rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .navegacion{
    margin-right: 400px;
} */

.navegacion a{
    color: white;
    font-size: 2.8rem;
    text-decoration: none;
    margin-right: 8rem;
    text-shadow: -2.6rem -3rem 0.7rem whitesmoke;
}
.navegacion a:hover{
    color: yellowgreen;      
    text-shadow: -1rem -0.5rem 1rem black;
}

.centrar-texto{
    text-align: center;
    margin-top: 18rem;
}
.centrar-texto h1{
    color: green;
}
.centrar-texto h4{
    color: whitesmoke;
}

/* #slogan h1{
    color: green;
} */

.razon{
    display:flex;
    
}
.fuente300{
    font-weight: 30rem;
    padding-top: 2rem;
}
.razones{
    margin: 0 1rem;  
    border-style: solid;
    background-color: green;
}
.razones h3{
    font-weight: 50rem;
    font-size: 2.8rem;
}
.razones i{
    color: green;
    font-size: 6rem;
    text-shadow: -0.1rem -0.5rem 0.1rem black;
}
.fa{
    width: 10rem;
    padding: 10rem;
}

/* ESTILOS TAREA */

.servicio{
    /* margin:0 1rem; */
    margin: 1rem 2rem;
    background-color: beige;    
    border-radius: 5%; 
    width:45rem;   
}

.servicio:hover{
    background-color: yellowgreen; 
    color: white;
}
.descripcion-servicio{
    border-radius: 10%;
    margin: 0 5rem;    
}
.servicio h3{
    font-weight: 500;
    font-size: 2.8rem;
    color: black;
    text-shadow: -0.1rem -0.1rem 0.2rem green;
}

/* REPETIDO */
.portafolio{
    display: flex;
}

/* CONTROL DE DIMENSION IMAGENES */
img{
    max-width: 100%;
}

.servicio img{
    border-radius: 10%;    
    border-color: green;
    border-style: groove;
    border-width: 0.3rem;    
    width: 90%;
    margin-top: 5%;    
}


.boton{        
    font-size: 2rem;
    margin: 0.5rem 2rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    display: block;
}
.boton a{
    text-decoration: none;
    color: green;
}
.boton a:hover{
    color: whitesmoke;
}

.boton-principal{
    background-color: lightyellow;
    color: yellowgreen;  
    text-shadow: -0.1rem -0.1rem 0.1rem black; 
    border-style: groove;
    border-width: 0.3rem;   
}

.boton-principal:hover{    
    background-color: green;
    color: white;
}

.boton-secundario{
    background-color: gray;
    color: white;   
}

.numeros{
    background-color: rgb(230, 245, 189);

}
.informacion{
    display: flex;
    justify-content: space-around;
}
/*  */
.counter{
    font-size: 3rem;
}


/*=== Formulario ===*/

.frame{
    display: flex;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    font-size: 3rem; 
    color: whitesmoke;  
    text-align: center; 
    font-weight: 700;
}

.formulario-campos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 10rem;
    column-gap: 2rem;
}

.campo{
    margin-bottom: 2rem;
}

.campo label{
    color: gray;
    font-weight: 700;
    margin-bottom: 0.2rem;
    /* display: block; */
}

.input-formulario{
    width: 100%;
    background-color: greenyellow;
    border: none;
    border-radius: 0.5rem;    
    padding: 0.5rem;
}

.input-formulario:hover{
    background-color: white;
}

.campo:nth-child(3),
.campo:nth-child(4){
    grid-column: 1/3;
}

.enviar{
    grid-column: 2/3;
    text-align: end;
    margin: 1rem;
}
.redes-sociales {
    color:greenyellow;
    font-size: 3rem;
}
.redes-sociales a{
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem;
    
}
.redes-sociales a:hover{
    color: greenyellow;
    
}
.redes-sociales div{
    display: flex;
    justify-content: center;
    text-decoration: none;
    justify-content: space-between;
    padding: 1rem;
    margin: -0.1rem;
}
