/* Mantenimiento */
.construccion h1{
    color: green;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
}
img{
    width: 15rem;
    position: relative;
    left: 40%;
    top: 50%;
}
.mantenimiento{
    background-color: black;
}

.boton{        
    font-size: 2rem;
    margin: 1rem 40rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    display: block;
    text-align: center;
}

.boton-principal{
    background-color: green;
    color: yellowgreen;  
    text-shadow: -0.1rem -0.1rem 0.1rem black; 
    border-style: groove;
    border-width: 0.3rem;    
}
.boton-principal:hover{    
    background-color: yellowgreen;
    color: white;
}